{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold">GRA Jobs. Get Hired Quickly!</h2>
            <p class="col-md-8 fs-4 mt-3 text-muted fw-semibold">All Available Jobs</p>
        </div>
    </div>
</section>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% if jobs %}
    {% for job in jobs %}
    <div class="col">
        <div class="card h-100">
            <div class="card-header" style="background-color: #d4dde7;">
                <h5 class="card-title fw-semibold">{{job.title}}</h5>
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title fw-semibold">{{job.title}}</h5> -->
                <p class="card-text fw-light">Job Location: {{job.city}}</p>
                <p class="card-text fw-light">Salary: GHC {{job.salary|intcomma}}</p>
                <p class="card-text fw-light">Posted by: {{job.company}}</p>
                <a class="btn btn-primary btn-small fw-semibold" href="{% url 'job-details' job.pk %}">View Details</a>
            </div>
            <div class="card-footer">
                <small class="text-muted fw-lighter">Created {{job.timestamp|naturaltime}}</small>
            </div>
        </div> 
    </div>
    {% endfor %}
    {% endif %}
</div>
<br> <br>

{% endblock content %} 
